@import 'nativescript-theme-core/css/purple.css';

.page
{
	background-image: ~/images/image_login_bg.jpg;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height: 100%;
}

.page-content
{
	color:white;
	background-color: rgba(49,27,146,0.7);
	padding: 16;
	width:100%;
	height: 100%;
}

.app-brand
{
	color:#FCE4EC;
	font-size: 18;
}
.button
{
	background-color: #311B92;
	padding: 20;
}